@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vstack {
    @apply flex flex-col items-center;
  }
  .hstack {
    @apply flex flex-row items-center;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .hov {
    @apply hover:shadow-none hover:scale-95 transition-all duration-300;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1c1917;
}
